.jigsaw-board{
    display: grid;
    grid-template-columns: 120px 120px 120px;
    grid-template-rows: 120px 120px 120px;
}
.tile0 {
    background-image: url('resources/active_image.jpg');
    background-repeat: no-repeat;
    background-position: 0px 0px;
}
.tile1 { 
    background-image: url('resources/active_image.jpg');
    background-repeat: no-repeat;
    background-position: -120px 0px;
}
.tile2 {
    background-image: url('resources/active_image.jpg');
    background-repeat: no-repeat;
    background-position: -240px 0px;
}
.tile3 {
    background-image: url('resources/active_image.jpg');
    background-repeat: no-repeat;
    background-position: 0px -120px;
}
.tile4 {
    background-image: url('resources/active_image.jpg');
    background-repeat: no-repeat;
    background-position: -120px -120px;
}
.tile5 {
    background-image: url('resources/active_image.jpg');
    background-repeat: no-repeat;
    background-position: -240px -120px;
}
.tile6 {
    background-image: url('resources/active_image.jpg');
    background-repeat: no-repeat;
    background-position: 0px -240px;
}
.tile7 {
    background-image: url('resources/active_image.jpg');
    background-repeat: no-repeat;
    background-position: -120px -240px;
}
.tile8 {
    background-image: url('resources/active_image.jpg');
    background-repeat: no-repeat;
    background-position: -240px -240px;
}